@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

header {
    background-color: #E1EFA9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5vh 2vh;
    height: auto;
    border-bottom: 0.5vh #000 solid;
}

h1 {
    font-family: 'Anton', sans-serif;
    font-size: 4vh;
}

ul {
    display: flex;
    flex-direction: column;
    align-items: space-around;
}

a {
    font-family: 'Anton', sans-serif;
    color: #000;
    text-decoration: none;
    font-weight: lighter;
    padding: 1vh;
    border-radius: 10%;
}

a:hover {
    text-decoration: underline;
}

.profile_page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 4vh;
    row-gap: 4vh;
    padding: 4vh; 
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4vh;
    background-color: lightblue;
    border-radius: 5%;
}

.profile > h2 {
    padding: 2vh 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.profile > h3 {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}

img {
    border-radius: 50%;
    width: 100%;
}

main {
    width: 100%;
}

li {
    padding: 0.5vh 0;
}

@media screen and (width > 550px) {
    ul {
        flex-direction: row;
        justify-content: space-around;
    }

    h1 {
        font-size: 5vh;
    }

    a:hover {
        background-color: lightblue;
        text-decoration: none;
    }

    .profile_page {
        column-gap: 8vh;
        row-gap: 8vh;
        padding: 8vh;
    }
}

@media screen and (width > 1000px) {
    h1 {
        font-size: 8vh;
    }

    a { 
        font-size: 3vh;
    }
    
    nav {
        width: 35%;
    }

    .profile_page {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}